<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="GetPageDelay" value="0" />

  </appSettings>
  <connectionStrings>
    <add name="PgCon" connectionString="Server=127.0.0.1;Port=5432;Database=postgres;User Id=postgres;Password=123;" />
    <add name ="SqliteCon" connectionString="Data Source=DB\sptest1.sqlite;Version=3;" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.108.0" newVersion="1.0.108.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
